body { /*Altera o código como um todo*/
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title { /*Altera toda a parte do título*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    transition: transform 1s ease;
    size-adjust: 10px;
}

.title img {
    width: 100%;
    max-width: 800px;
    height: auto;
    transition: transform 1s ease;
}

.title:hover { /*Altera a imagem do título quando o mouse está em cima*/
    transform: scale(1.2);
    transition-duration: 1s;
}

.video { /*Customiza os vídeos*/
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: min-content;
    height: min-content;
    border: 5px solid #FF6F00;;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0px 0px 25px #0088CC;
}

.image { /*Centraliza a tag image*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
}

.image img {
    width: 100%;
    height: auto;
}

h2 { /*Customiza os Subtítulos*/
    color: #FF6F00;
    font-size: xx-large;
}

h3 { /*Customiza os títulos terciários*/
    color: #FF6F00;
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
}

li { /*Customiza o texto dos tópicos*/
    color: #EAEAEA;
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
}

p { /*Customiza o texto em geral*/
    color: #EAEAEA;
    max-width: 80%;
    text-align: justify;
    margin: 0 auto;
}

#destaque { /*Customiza algum texto que precise ficar em destaque*/
    color: #0088CC;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight: bold;
}

b { /*Customiza o título dos tópicos*/
    color: #0088CC;
}

.carousel { /*Customiza o conteúdo do carrossel como um todo*/
    position: relative;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    border: 5px solid #FF6F00;
    box-shadow:0px 0px 25px #0088CC;
}

.carousel-container { 
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.slide { /*customiza as imagens em si*/
    width: 400px;
    height: 250px;
    object-fit: cover;
}

button { /*Customiza o Botão*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #EAEAEA;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.prev { left: 10px; }
.next { right: 10px; }

button:hover { /*Altera a customização do botão quando o mouse está em cima  */
    background: rgba(0, 0, 0, 0.8);
}

a { /*Personaliza os últimos links da página*/
    color: #EAEAEA;
}
