body {
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#title-image {
    max-width: 100%;
    height: auto;
    width: 1000px;
}

.video {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: min-content;
    height: min-content;
    border: 5px solid;
    border-color: #FF6F00;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0px 0px 25px #0088CC;

}

h2 {
    color: #FF6F00;
    font-size: xx-large;
}

h3 {
    color: #FF6F00;
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
}

li {
    color: #EAEAEA;
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
}

p {
    color: #EAEAEA;
    max-width: 80%;
    text-align: justify;
    margin: 0 auto;
}

#destaque {
    color: #0088CC;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
}

b{
    color: #0088CC;
}

.carousel {
    position: relative;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    border: 5px solid #FF6F00;
    box-shadow:0px 0px 25px #0088CC;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.slide {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #EAEAEA;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.prev { left: 10px; }
.next { right: 10px; }

button:hover {
    background: rgba(0, 0, 0, 0.8);
}

a {
    size-adjust: 20;
    color: #EAEAEA;
}