.texto{
    max-width: 80%;
    text-align: center;
    margin: auto;

}
.title{
    max-width: 80%;
    text-align: center;
    margin: auto;
}
.video {
    text-align: center;
    max-width: fit-content;
    margin: auto;
}
.imagem {
    text-align: center;
    max-width: fit-content;
    margin: auto;
}
.botao {
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
}
/* Barra lateral */
.barra-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s; /* Transição suave para o movimento da barra */
    padding-top: 60px;
    color: white;
}

.barra-lateral h2 {
    font-size: 24px;
    text-align: center;
}

.barra-lateral p {
    align-content: center;
}

.barra-lateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.barra-lateral a:hover {
    background-color: #ddd;
    color: black;
}

/* Botão de fechar */
.fechar {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}